<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
</head>
<body>
    <h1>x-api-key authentication</h1>
    <form action="/api/authentication" method="POST">
        <label for="apiKey">Insert x-api-key:</label>
        <input type="password" id="apiKey" name="apiKey" required>
        <button type="submit">Authentication</button>
    </form>
</body>
</html>
